@import '../styles/index.scss';

.about-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: calc(100vh - $header-height - $footer-height);
    padding: 2% 10%;
    background-color: var(--alt-background-color);
}

h1 {
    align-self: center;
}

.about {
    margin-top: 20px;

    p,
    li {
        font-size: $alt__font-size;
    }

    ul {
        margin-left: 50px;
    }

}