@import '../styles/index.scss';

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: $footer-height;
    padding: 0 10%;
    background-color: var(--basic-background-color);

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
}

.logo__image {
    width: 30px;
    margin-right: 10px;
}

.logo__text {
    font-weight: bold;
    font-size: $basic__font-size;
    color: var(--basic-text-color);
}

.nav-links {
    display: flex;

    a {
        margin-left: 20px;
        font-size: $basic__font-size;
        color: var(--basic-text-color);
    }
}

.search {
    margin-left: 20px;
    cursor: pointer;
}

.search-active {
    padding: 1px 5px;
    background-color: var(--button-complete-color);
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
}

.search-input {
    width: 30%;
    padding: 3px 5px;
    margin: 3px 0 0 10px;
    font-size: $basic__font-size;
    border-radius: 5px;
}