@import '../styles/index.scss';

.task-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: $basic__background-color;
    border-radius: 5px;
}

.task-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: max-content;
    padding: 10px;

    &:hover {
        background-color: $basic__hover-color;
        border-radius: 5px;
        cursor: pointer;
    }
}

.task-item__task {
    font-size: $basic__font-size; //Заглушка для существования класса
}

.task-item__subtask {
    display: flex;
    flex: 1;
    padding-left: 7px;
    font-size: $basic__font-size;
}

.task-item__arrow {
    display: inline-block;
    width: 20px;
    font-size: $alt__font-size;
    user-select: none;
    transition: transform 0.3s ease;
    transform-origin: 35% 50%;

    &--open {
        transform: rotate(90deg);
    }
}

.task--active {
    background-color: $button__complete-color;
    border-radius: 5px;

    &:hover {
        background-color: $button__complete-color;
    }
}